# Week 1 - Pandas

<hr style="border:2px solid gray">

## Index: <a id='index'></a>
1. [Introduction to Pandas](#pandas)
1. [Creating a DataFrame](#create)
1. [Manipulating DataFrames](#manipulate)
1. [Displaying Data](#display)
1. [Reading Data from Files](#files)

<hr style="border:2px solid gray">

## Section 1: Introduction to Pandas  [^](#index) <a id='pandas'></a>

**Pandas** is a Python library that can be used within a Jupyter notebook to easily manipulate and analise data. With Pandas, you can read in data from various sources, such as CSV files, SQL tables, or Excel spreadsheets, and then perform operations on that data, such as filtering, sorting, grouping, and aggregating. You can also visualize your data using built-in plotting functions. Pandas provides a convenient and efficient way to work with data in Jupyter notebooks, making it a popular choice for data analysis and data science projects.

Pandas offers two powerful data structures for data analysis: **Series** and **DataFrames**. While they may seem similar at first glance, their key differences dictate when to use one over the other. Here's a breakdown:

**Dimensions**
 - **Series:** A one-dimensional (1D) array representing a single column of data with an index for labeling observations.
 - **DataFrame:** A two-dimensional (2D) table-like structure holding multiple columns (Series) with their own labels and an optional row index (like a spreadsheet).

**Data Types**
 - **Series:** Holds data of one type (e.g., all integers, all strings).
 - **DataFrame:** Can hold columns of different data types (e.g., one column for dates, another for names, another for prices).

**Functionality**
 - **Series:** Efficient for analyzing single columns, performing basic operations like sorting, filtering, and calculations.
 - **DataFrame:** Powerful for multi-column analysis, including data merging, joins, grouping, and more complex manipulations across multiple columns.

**Use Cases**
 - **Series:** Ideal for storing timestamps, temperature readings, stock prices, etc. Useful for data exploration, pre-processing, and analyzing trends in one variable.
 - **DataFrame:** Perfect for representing customer data, financial records, scientific measurements, etc. Suitable for comprehensive analysis, hypothesis testing, and building statistical models involving multiple variables.

**Analogy:** Imagine a bookshelf. A Series is like a single book containing one story - informative but limited. A DataFrame is like an entire shelf storing various books on different topics - each book (Series) offers specific information, but together they paint a larger picture and allow for diverse analysis.

Choosing between Series and DataFrames depends on your data structure and analysis needs. While knowing the difference between the two is important, we will most often use **DataFrames**.

For more exercises and tutorials on Pandas:
 - https://pandas.pydata.org/docs/user_guide/index.html#user-guide

<hr style="border:2px solid gray">

## Section 2: Creating a DataFrame  [^](#index) <a id='create'></a>

A DataFrame is a 2D data structure that is composed of the following components:
- 1) The data
- 2) The index
    - This is the row number of the DataFrame
- 3) The columns
    - Contains the data taken at each index, labelled with headers

The information at the 'top' of the DataFrame contains are known as **headers**. These allow you to access your data without needing to use indices. The cell below shows two equivalent ways to create a DataFrame.

In [22]:
import pandas as pd

# Create a simple dataset of people

data={'Name':["Anisha","Alice","Jenni", "Mei","Tahnee", "Nina"],
     'Location':["London","Amsterdam","Glasgow", "Sao Paulo","Vancouver", "Abuja"],
     'Age':[38,20,27,55,71,13]}

data_pandas=pd.DataFrame(data)

display(data_pandas)

     Name   Location  Age
0  Anisha     London   38
1   Alice  Amsterdam   20
2   Jenni    Glasgow   27
3     Mei  Sao Paulo   55
4  Tahnee  Vancouver   71
5    Nina      Abuja   13

The first column is the **index**, and you can be used to specify the data you want to display.

In [2]:
display(data_pandas[2:4])

    Name   Location  Age
2  Jenni    Glasgow   27
3    Mei  Sao Paulo   55

**Select a column** by putting the column name in brackets, e.g. `dataframe['column']` and **display it.**

In [21]:
# Select a column
display(data_pandas['Age'])

0    38
1    20
2    27
3    55
4    71
5    13
Name: Age, dtype: int64

Similarly **Select a row** by using `iloc` and the row index, e.g. `iloc[1]` and **display it.**

In [ ]:
# Select a row by index
first_row = ...
display(first_row)

Similarly **Select a cell** by using `loc` and specifying both the row index and column name, e.g. `loc[1,'column name']` and **display it.**

In [ ]:
# Select a specific cell
cell_value = ...
display(cell_value)

To change the index to something more relevant (although this is not a particularly good example of this):

In [ ]:
data_pandas=pd.DataFrame(data,index=["a","b","c","d", "e", "f"])
display(data_pandas["b":"d"])

### Adding and removing columns

To insert a new column into the DataFrame, simply perform:

In [ ]:
data_pandas["Pets"]=[3,2,1,5,9,0]
display(data_pandas)

You can even create columns that are functions of other columns. Pandas performs this very quickly.

In [ ]:
data_pandas["Combination"]=data_pandas.Age*data_pandas.Pets
display(data_pandas)

`Combination` is a bit of a useless column though, so we can remove it using *drop*. One of the inputs to *drop* is which axis the operations is applied to.

**Axis 0** - Axis 0 refers to the rows of a DataFrame or a Series. It is often referred to as the "index axis". When an operation is applied along axis 0, it means that the operation is applied to each row of the Data Frame or Series.

**Axis 1** - Axis 1 refers to the columns of a DataFrame or a Series. It is often referred to as the "column axis". When an operation is applied along axis 1, it means that the operation is applied to each column of the Data Frame or Series.

Use the `dataframe.drop` function to **drop the `Combination` column and the `a` row. Display the result.**

In [ ]:
# Delete a column
data_pandas = ... 
display(data_pandas)

In [ ]:
# Delete a row
data_pandas = ...
display(data_pandas)

<hr style="border:2px solid gray">

## Section Three: Manipulating DataFrames  [^](#index) <a id='manipulate'></a>

### Filtering DataFrames
Here we are choosing to display all dogs above a given age.

In [ ]:
display(data_pandas[data_pandas.Age<30])

You can also filter by multiple conditions using `&`. **Display** our dataset for entries with Age less than 30 and location in Amsterdam.

In [ ]:
# Filter by multiple conditions
filtered_df = ...
print(filtered_df)

### Sorting DataFrames
Here we are sorting the data frames in descending order by age.

In [ ]:
# Sort by a column
sorted_df = data_pandas.sort_values(by='Age', ascending=False)
print(sorted_df)

You can sort by multiple columns with the same syntax, simply adding columns in the respective order to the instructions, e.g. `sort_values(by['column1', 'column2'], ascending=[True, True])`. **Sort** our dataframe by ascending order of ages and descending order on number of pets.

In [ ]:
# Sort by multiple columns
sorted_df = ...
print(sorted_df)

### Statistical Analysis
You can calculate things like the correlation and covariance matrices

In [ ]:
display(data_pandas.corr(numeric_only = True))
display(data_pandas.cov(numeric_only = True))

<hr style="border:2px solid gray">

## Section Four: Displaying Data  [^](#index) <a id='display'></a>

It is possible to display your DataFrame content quite easily. Here we will cover a few common examples.

### Basic plotting

Two display a basic plot of our data, we can use:
```python
df['column name'].plot()
```

or:

```python
df.plot('x column name','y column name')
```
We only need to reference the name of the column, we don't need to know its index. For the first method we didn't set an x-axis; with that plotting nomenclature Pandas will use whatever the index is as an x-axis.

<div style="background-color:#C2F5DD">

## Exercise 1
Experiment with these methods of data plotting using our `data_pandas` DataFrame.

Other useful data visualisation:
### Histograms

In [ ]:
import numpy as np
import scipy as sp
import pylab as pl

histogram=data_pandas.hist()

In [ ]:
data_pandas['Pets'].plot()

In [ ]:
h1=data_pandas.hist(column="Pets")

**Plot** a histogram of the column pets for anyone aged 20 and above.

### Scatter Plots

In [ ]:
data_pandas.plot(kind="scatter",x="Age",y="Pets",alpha=1)
#alpha controls the opacity of data points.
#For larger amounts of data, setting alpha to a lower value can make the plot easier to interpret

A **scatter_matrix** displays all possible combinations of the scatter plots, as well as the various histograms. Run the cell below to see what this looks like for our data. Just like with any pandas plot, this can also be filtered.

In [ ]:
import pandas.plotting as pdp
pdp.scatter_matrix(data_pandas)

**Plot** a scatter matrix for anyone aged 20 and above.

Further example of plots can be found [here](https://pandas.pydata.org/docs/user_guide/visualization.html)

<div style="background-color:#C2F5DD">

## Exercise 2

The purpose of this exercise is to get you to play around with pandas DataFrame and to consolidate the knowledge that you already have.

* Generate 5 samples with 100,000 correlated random numbers distributed according to Gaussian distributions (you can choose whatever covariance matrix that you like, although you can start with an identity matrix for simplicity). You may want to use the `numpy` function `random.multivariate_normal` for this purpose.

* Read these into a DataFrame

* Create a 6th column in your DataFrame: the values should be the second column plus the fourth column

* Verify that the covariance (and correlation) matrices are what you would expect

* Display your data

<hr style="border:2px solid gray">

## Section Five: Reading Data from Files  [^](#index) <a id='files'></a>

You can read data from all sorts of files (csv, excel, etc) into a DataFrames. Sometimes (especially with csv) you have to be careful with the separator

In [ ]:
df_pound_dollar=pd.read_csv(r'pound-dollar-exchange-rate-historical-chart.csv')
#'r' refers to raw string, it is required to read in the file with no bugs

In [ ]:
display(df_pound_dollar)

This will display a lot of information. We can reduce this display and make the data easier to interpret at a glance using <span style="color:blue">.head()</span> and <span style="color:blue">.head()</span>. To get a top level summary of the data, we can use the <span style="color:blue">.info()</span> command. For example:

In [ ]:
display(df_pound_dollar.head())

print ('\n And the summary of the data: \n')

display(df_pound_dollar.info())

<div style="background-color:#C2F5DD">

## Exercise 3

Let's analyse some data from the euro/dollar and pound/dollar exchange rates.
1) Read the euro-dollar exchange rate file into a dataframe and merge it with the pound-dollar dataframe. You may want to use the `panda` `rename` function to rename the columns.
2) Check the dataset for `NaN` and drop any instances of `NaN`.
3) Plot histograms and timeseries from the dataframe
4) Calculate mean, variance, covariance, and correlation
5) Plot a scatter plot of the euro-dollar vs the pound-dollar exchange. Use the slice function to try to isolate one of two populations (*hint: the ideal index will be between 2000 and 3000*)
6) Calculate the coefficients for the linear regression $y=mx+q$ for the three samples (the total sample, and the two samples found with the split in point 5), and plot them on top of a scatter graph
$$ m = \dfrac{\sigma_{xy}}{\sigma_x^2} $$
$$ q = \overline{y}-m\overline{x} $$
You may want to use `stats.linregress` from `scipy` to calculate the coefficients.
8) Write a sentence of your interpretation of the graph.